# dependencies
/node_modules
/frontend/node_modules

# production
/frontend/build

# local env files
.env

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*